@{
    ViewBag.Title = "What is an X-Map?";
}
<p>Think of X-Maps as the X-Files of mapping. They're the maps that don't fit anywhere else.</p>
<p>Basically they are maps that are not <acronym title="Capture The Flag">CTF</acronym> scenarios. Hunted, King of the Hill, Invade &amp; Defend, all those sorts of map scenarios are X-Maps.</p>
<p>Here at TFX-Maps the more un-convensional your map is, the higher it will get rated. It's not just about the scenario either. The score is based on the layout and style of the maps too. Base your map on Xen, or in a jungle and your defiying convension. That's that we want!</p>
