@{
    ViewBag.Title = "Contact";
}
<h2>The TFX-Maps Team</h2>
<ul>
    <li><a href="mailto:vitani[at]tfxsoft<dot>com?subject=TFX-Maps">Vitani</a> - Founder, Web Master &amp; Reviewer</li>
    <li><a href="mailto:azrael[at]tfxsoft<dot>com?subject=TFX-Maps">Azrael</a> - Tutorialist &amp; Reviewer</li>
    <li><a href="mailto:wormy[at]tfxsoft<dot>com?subject=TFX-Maps">Turbo Worm</a> - Reviewer</li>
    <li><a href="mailto:bob[at]tfxsoft<dot>com?subject=TFX-Maps">Bob the Goldfish</a> - Reviewer</li>
</ul>
<h2>Other ways to get in contact</h2>
<ul>
    <li>
        <a href="/forum">Forum</a> - By far the best way, other than e-mail, to contact us, we all check every forum, daily.
    </li>
    <li>
        IRC (Internet Relay Chat) - We idle in #tfxsoft on MORAT, Quakenet &amp; GamesNET servers, another great way to contact us.
        <ul>
            <li>
                <a href="irc://irc.tfxsoft.com/tfxsoft"><acronym title="Internet Relay Chat">IRC</acronym> Client</a>
            </li>
            <li>
                <a href="http://irc.morat.net/chat.phtml?channel=tfxsoft">Java Applet</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="http://www.icq.com/" target="_blank">ICQ</a> - I Seek You, e-mail us for our numbers
    </li>
    <li>
        <a href="http://messenger.msn.com/" target="_blank">MSN</a> - <acronym title="Microsoft Network">MSN</acronym> Messenger, e-mail us for details
    </li>
</ul>
