@{
    ViewBag.Title = "Links";
}
    <table>
        <tbody>
            <tr>
                <td colspan="3">
                    <h3 style="margin-left: 20px; margin-bottom:-1px;">Half-Life News Sites</h3>
                </td>
            </tr>
            <tr>
                <td><a href="http://news.morat.net/">MORAT</a></td>
                <td width="50">&nbsp;</td>
                <td>General gaming news</td>
            </tr>
            <tr>
                <td><a href="http://www.planetfortress.com/">PlanetFortress</a></td>
                <td width="50">&nbsp;</td>
                <td>For all that is Fortress</td>
            </tr>
            <tr>
                <td><a href="http://www.fortressnation.com/">FortressNation</a></td>
                <td width="50">&nbsp;</td>
                <td>From the ashes of the UKFN</td>
            </tr>
            <tr>
                <td colspan="3">
                    <h3 style="margin-left: 20px; margin-bottom:-1px;">Related TFC Sites</h3>
                </td>
            </tr>
            <tr>
                <td><a href="http://clans.morat.net/morat">[M]</a></td>
                <td width="50">&nbsp;</td>
                <td>Clan MORAT</td>
            </tr>
            <tr>
                <td><a href="http://clans.morat.net/wof">[WoF]</a></td>
                <td width="50">&nbsp;</td>
                <td>Warriors of Fun</td>
            </tr>
            <tr>
                <td><a href="http://wtf.lowlife.com/">[WTF?]</a></td>
                <td width="50">&nbsp;</td>
                <td>Clan WTF?</td>
            </tr>
            <tr>
                <td><a href="http://www.invadedefend.com/">.id</a></td>
                <td width="50">&nbsp;</td>
                <td>Invade &amp; Defend Guild</td>
            </tr>
            <tr>
                <td colspan="3">
                    <h3 style="margin-left: 20px; margin-bottom:-1px;">Other Editing Sites</h3>
                </td>
            </tr>
            <tr>
                <td><a href="http://collective.valve-erc.com/">The VERC Collective</a></td>
                <td width="50">&nbsp;</td>
                <td>The Valve Editing Resouces Center</td>
            </tr>
            <tr>
                <td colspan="3">
                    <a name="downloads"></a>
                    <h3 style="margin-left: 20px; margin-bottom:-1px;">Downloads</h3>
                </td>
            </tr>
            <tr>
                <td><a href="http://collective.valve-erc.com/index.php?go=hammer">Hammer 3.4</a></td>
                <td width="50">&nbsp;</td>
                <td>Valves very own Half-Life map building program, what the pros use to make maps</td>
            </tr>
            <tr>
                <td><a href="http://collective.valve-erc.com/index.php?go=mhlt">Zoners HL Tools</a></td>
                <td width="50">&nbsp;</td>
                <td>These are the files that compile your TF maps for you, If your still using QCSG, QBSP, etc I suggest you change to these tools right away</td>
            </tr>
            <tr>
                <td><a href="http://www.telefragged.com/wally/">Wally</a></td>
                <td width="50">&nbsp;</td>
                <td>THE Texture editor for Half-Life, Quake, and such like games</td>
            </tr>
            <tr>
                <td><a href="./files/pakexpl.zip">Pak Explorer</a></td>
                <td width="50">&nbsp;</td>
                <td>A little program that allows you to veiw the .pak files that come with Half-Life in a Windows Explorer fashion</td>
            </tr>
            <tr>
                <td><a href="http://www.swissquake.ch/chumbalum-soft/hlmv/index.html">Half-Life Model Viewer</a></td>
                <td width="50">&nbsp;</td>
                <td>A nice program that lets you see the Half-Life models, rotate them, and see all the animations each model can perform</td>
            </tr>
            <tr>
                <td><a href="http://www.gracelessland.com/main/files/tblux.html">Radfile Editor</a></td>
                <td width="50">&nbsp;</td>
                <td>pick out the colour you want the texture to glow as, set the intensity, and scroll through the list of available textures, all in a handy little window. </td>
            </tr>
            <tr>
                <td><a href="./files/lm01b.zip">Leak Marker 01b</a></td>
                <td width="50">&nbsp;</td>
                <td>This will find leaks in your map and create an entity (of your choice) near the leak so you can easily track it down!</td>
            </tr>
        </tbody>
    </table>